<domain type='kvm'>
  <name>{{ gitups_current_cluster.name }}-{{ gitups_qemu_node.name }}</name>
  <uuid>{{ gitups_qemu_node_uuids[gitups_qemu_node.name] }}</uuid>
  <memory unit='MiB'>{{ gitups_qemu_node.resources.memoryMiB }}</memory>
  <currentMemory unit='MiB'>{{ gitups_qemu_node.resources.memoryMiB }}</currentMemory>
  <vcpu placement='static'>{{ gitups_qemu_node.resources.cpu }}</vcpu>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
    <boot dev='cdrom'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='host-passthrough' check='none'/>
  <devices>
    <emulator>{{ gitups_qemu_emulator_path }}</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ gitups_host_state_dir }}/{{ gitups_current_cluster.name }}/qemu/{{ gitups_qemu_node.name }}/disk.qcow2'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>
    <controller type='sata' index='0'/>
    <interface type='network'>
      <mac address='{{ gitups_qemu_node.macAddress }}'/>
      <source network='{{ gitups_current_cluster.provider.virtualization.libvirt.network }}'/>
      <model type='virtio'/>
    </interface>
    <serial type='pty'/>
    <console type='pty'/>
    <graphics type='vnc' autoport='yes' listen='127.0.0.1'/>
  </devices>
</domain>
