<domain type='kvm'>
  <name>{{ bootwright_current_cluster.name }}-{{ bootwright_qemu_node.name }}</name>
  <uuid>{{ bootwright_qemu_node_uuids[bootwright_qemu_node.name] }}</uuid>
  <memory unit='MiB'>{{ bootwright_qemu_node.resources.memoryMiB }}</memory>
  <currentMemory unit='MiB'>{{ bootwright_qemu_node.resources.memoryMiB }}</currentMemory>
  <vcpu placement='static'>{{ bootwright_qemu_node.resources.cpu }}</vcpu>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
    <boot dev='cdrom'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='host-passthrough' check='none'/>
  <devices>
    <emulator>{{ bootwright_qemu_emulator_path }}</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ bootwright_host_state_dir }}/{{ bootwright_current_cluster.name }}/qemu/{{ bootwright_qemu_node.name }}/disk.qcow2'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>
    <controller type='sata' index='0'/>
    <interface type='network'>
      <mac address='{{ bootwright_qemu_node.macAddress }}'/>
      <source network='{{ bootwright_current_cluster.provider.virtualization.libvirt.network }}'/>
      <model type='virtio'/>
    </interface>
    <serial type='pty'/>
    <console type='pty'/>
    <graphics type='vnc' autoport='yes' listen='127.0.0.1'/>
  </devices>
</domain>
