global
  maxconn 20000
  log stdout format raw local0

defaults
  mode tcp
  log global
  option tcplog
  timeout connect 10s
  timeout client 1m
  timeout server 1m

{% for frontend in gitups_current_load_balancer.frontends %}
{% for binding in frontend.bindings %}
{% for port in frontend.ports %}
frontend {{ binding.clusterName }}_{{ frontend.name }}_{{ port.listenPort }}_fe
  bind {{ binding.bindAddress }}:{{ port.listenPort }}
  default_backend {{ binding.clusterName }}_{{ frontend.name }}_{{ port.listenPort }}_be

backend {{ binding.clusterName }}_{{ frontend.name }}_{{ port.listenPort }}_be
  balance roundrobin
{% for backend in binding.backends %}
  server {{ binding.clusterName }}_{{ backend.name }} {{ backend.address }}:{{ port.targetPort }} check
{% endfor %}

{% endfor %}
{% endfor %}
{% endfor %}
